@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(135deg,black ,rgb(249, 249, 249));
    min-height : 100vh;
    font-family: "Poppins", sans-serif;
}

.container {
    display        : flex;
    align-items    : center;
    justify-content: center;
    flex-direction : column;
}

.title {
    color: #fff;
    font-size    : 3rem;
    margin       : 6vh;
    border       : 6px dashed rgb(247, 247, 247);
    padding      : 1vh 5vw;
    border-radius: 20px;
}

.cards {
    
    display        : flex;
    align-items    : center;
    justify-content: center;
    flex-wrap      : wrap;
    max-width      : 1300px;
    margin         : 0 auto;

}

.card {
    background-color: #ececec;
    width         : 400px;
    height        : max-content;
    margin        : 1rem;
    padding       : 1rem;
    display       : flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(0,0,0,0.24) 2px 3px 8px ;
    border-radius: 10px;
}
.card:hover{
    transform: scale(1.02);
    transition: all 0.2s;
}
.image{
    width: 380px;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.tour-info{
    margin: 20px 5px;
}

.tour-price{
    font-size: 1.3rem;
    color: green;
}

.tour-name{
    font-size: 1.5rem;
}

.read-more{
    color: #12b0e8;
    cursor: pointer;
}

.btn-red{
    margin-top: 18px;
    padding: 10px 80px;
    border: 1px solid #b4161b;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    background-color: #b4161b21;
}
.btn-red:hover{
    background-color: rgb(201, 0, 0);
    color: white;
    transition: all 0.2s;
}

.refresh{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btn-white{
    margin-top: 18px;
    padding: 10px 80px;
    border: 1px solid #33cae5;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    background-color: #9fc5d566;
}